.flexColumn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modal-body .form-group {
  width: 100%;
  margin-bottom: 20px;
}
.textArea{
  min-height: 100px !important;
}

.imageUpload{
  width: 150px !important;
  height: 150px !important;
  padding: 0 !important;
  overflow: hidden;
}